<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDDFC48827AEA3290062CE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDFC49927AEA7860062CE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDFC4A127AEA7860062CE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDFC4DA27AF354D0062CE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDFC4E227AF354D0062CE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDFC50527B04B990062CE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
